/* -------------------------------------------------------
                   Footer
-------------------------------------------------------- */
.footer {
  position: relative;

  @include media_991 {
    background-color: $bg-color;
  }

  .logo-footer {
    img {
      &.logo-dark {
        display: block;
      }

      &.logo-light {
        display: none;
      }
    }
  }

  &.p-footer {
    padding: 60px 0;
  }

  &.pb-0 {
    padding-bottom: 0;

    @include media_991 {
      padding-top: 0;
    }
  }

  .fill-right-container {
    padding: 60px 30px;

    @include media_991 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .footer-block-item {
    &:not(:first-of-type) {
      @include media_768 {
        margin-top: 30px;
      }
    }
  }

  .footer-block {
    padding: 0 15px;

    &.block-logo {
      a {
        width: 110px;
        margin-bottom: 15px;
      }

      h6 {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }

    &.block-contact {
      .contact-item {
        margin-bottom: 30px;

        &:last-of-type {
          margin-bottom: 0;
        }

        .sm-title-block {
          margin-bottom: 10px;
        }

        a {
          text-decoration: underline;
          letter-spacing: 2px;
        }
      }
    }

    &.col-menu {
      ul {
        li {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
          overflow: hidden;

          a {
            margin-bottom: 0;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .footer-credits {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;

    .copyright {
      font-size: 14px;
      font-family: $heading-font;
      text-transform: uppercase;
      letter-spacing: 2px;

      a {
        color: $theme-color;
      }
    }

    .block {
      ul {
        li {
          position: relative;
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;

          &:last-of-type {
            padding-right: 0;

            &::before {
              display: none;
            }
          }

          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #202020;
          }
        }
      }
    }
  }
}

body.v-light {
  .footer {
    .logo-footer {
      img {
        &.logo-dark {
          display: none;
        }
  
        &.logo-light {
          display: block;
        }
      }
    }
  }
}
