/* -------------------------------------------------------
                   Header
-------------------------------------------------------- */

@import "project-header";
@import "header-pages";
@import "header-post";

header{
  .scroll-d {
    right: 0;
    bottom: 40px;
    cursor: pointer;
    z-index: 2;
    img {
      width: 60px;

      @include v-light {
        filter: invert(1);
      }
    }
  }
}
